<a href="https://colab.research.google.com/github/LhsEric/dscareer_dsml_exercies_coach/blob/main/Task_04_%E4%BD%9C%E6%A5%AD_02%E3%80%90%E5%AF%A6%E4%BD%9C%E9%A1%8C%E3%80%91%E8%B3%87%E6%96%99%E6%B8%85%E7%90%86%E8%99%95%E7%90%86%E7%AD%96%E7%95%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task #04 作業 02【實作題】資料清理處理策略



1. Drop missing observations
2. Drop rows where all cells in that row is NA **(DONE)**
3. Create a new column full of missing values
4. Fill in missing data with zeros
5. Fill in missing in preTestScore with the mean value of preTestScore
6. Fill in missing in postTestScore with each sex’s mean value of postTestScore
7. Select some rows but ignore the missing data points

In [ ]:
import numpy as np
import pandas as pd
raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'],
        'age': [42, np.nan, 36, 24, 73],
        'sex': ['m', np.nan, 'f', 'm', 'f'],
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])
print(df)

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [ ]:
#Drop rows where all cells in that row is NA
df.dropna(how='all', inplace=True) #所有欄位皆有遺漏值(Missing Value)的資料就移除

#Create a new column full of missing values
df['new column']= np.nan

#Fill in missing data with zeros
df.fillna(0, inplace=True)

#Fill in missing in preTestScore with the mean value of preTestScore
df['preTestScore'].fillna(df['preTestScore'].mean(), inplace=True)

#Fill in missing in postTestScore with each sex’s mean value of postTestScore
filtered_m = df[df['sex'] == 'm']
mean_m = filtered_m['postTestScore'].mean()
filtered_f = df[df['sex'] == 'f']
mean_f = filtered_f['postTestScore'].mean()

df.loc[df['sex'] == 'm', 'postTestScore'].fillna(mean_m, inplace=True)
df.loc[df['sex'] == 'f', 'postTestScore'].fillna(mean_f, inplace=True)

#Select some rows but ignore the missing data points
selected_rows = df[df['age'].notna()]

  first_name last_name   age sex  preTestScore  postTestScore  new column
0      Jason    Miller  42.0   m           4.0           25.0         0.0
2       Tina       Ali  36.0   f           3.0            0.0         0.0
3       Jake    Milner  24.0   m           2.0           62.0         0.0
4        Amy     Cooze  73.0   f           3.0           70.0         0.0

In [ ]:
#Chatgpt
# Drop rows where all cells in that row are NA
df.dropna(how='all', inplace=True)

# Create a new column full of missing values
df['new_column'] = np.nan

# Fill in missing data with zeros
df.fillna(0, inplace=True)

# Fill in missing in preTestScore with the mean value of preTestScore
preTestScore_mean = df['preTestScore'].mean()
df['preTestScore'].fillna(preTestScore_mean, inplace=True)

# Fill in missing in postTestScore with each sex’s mean value of postTestScore
postTestScore_mean_by_sex = df.groupby('sex')['postTestScore'].transform('mean')
df['postTestScore'].fillna(postTestScore_mean_by_sex, inplace=True)

# Select some rows but ignore the missing data points
selected_rows = df[df['age'].notna()]

print(selected_rows)

  first_name last_name   age sex  preTestScore  postTestScore  new column  \
0      Jason    Miller  42.0   m           4.0           25.0         0.0
2       Tina       Ali  36.0   f           3.0            0.0         0.0
3       Jake    Milner  24.0   m           2.0           62.0         0.0
4        Amy     Cooze  73.0   f           3.0           70.0         0.0

   new_column
0         0.0
2         0.0
3         0.0
4         0.0