<a href="https://colab.research.google.com/github/LhsEric/dscareer_dsml_exercies_coach/blob/main/Task_04_%E4%BD%9C%E6%A5%AD_03%E3%80%90%E5%AF%A6%E4%BD%9C%E9%A1%8C%E3%80%91%E8%B3%87%E6%96%99%E4%B8%B2%E6%8E%A5%E8%88%87%E8%B3%87%E6%96%99%E6%B8%85%E7%90%86.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task #04 作業 03【實作題】資料串接與資料清理

How to check if a dataframe has any missing values？Check if df has any missing values.

1.   Count the number of missing values in each column and find the maximum number of missing values.
2.   How to replace missing values of `multiple numeric` columns with the mean?
3. Calculate the average price of different manufacturers.
4. How to replace missing values of `price` columns with the mean depending on its manufacturers?

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
print(df)

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

In [ ]:
#How to check if a dataframe has any missing values？Check if df has any missing values.
#Count the number of missing values in each column and find the maximum number of missing values.
df.isnull().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [ ]:
#How to replace missing values of multiple numeric columns with the mean?
df.fillna(df.mean(), inplace=True)
print(df.isnull().sum())

Manufacturer          4
Model                 1
Type                  3
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               6
DriveTrain            7
Cylinders             5
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       5
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
Origin                5
Make                  3
dtype: int64

<ipython-input-25-3aabedd5348e>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [ ]:
#Calculate the average price of different manufacturers.
price_mean_groupbyed = df.groupby("Manufacturer")['Price'].mean()
print(price_mean_groupbyed)

Manufacturer
Acura            15.900000
Audi             33.400000
BMW              30.000000
Buick            21.625000
Cadillac         37.400000
Chevrolet        18.187500
Chrysler         22.650000
Dodge            15.700000
Eagle            15.750000
Ford             14.962500
Geo              10.450000
Honda            16.466667
Hyundai          10.475000
Infiniti         47.900000
Lexus            28.000000
Lincoln          35.200000
Mazda            17.600000
Mercedes-Benz    46.900000
Mercury          14.500000
Mitsubishi       18.200000
Nissan           17.025000
Oldsmobile       17.500000
Plymouth         14.400000
Pontiac          16.140000
Saab             28.700000
Saturn           19.616484
Subaru           12.933333
Suzuki            8.600000
Toyota           17.629121
Volkswagen       18.025000
Volvo            22.700000
Name: Price, dtype: float64

In [ ]:
#How to replace missing values of price columns with the mean depending on its manufacturers?
df['Price'].fillna(price_mean_groupbyed, inplace=True)